<div class="inline" style="min-width: 340px; color : white">
	<div style="float:left; font-size: 95%; top:-20px;">
       	<p>Forgot Password ?</p>
    </div>
    <div style="float:right; font-size: 95%; top:-20px;">
       	<a onclick="login_view();" style="color:#979797; text-decoration: none; cursor: pointer;">Login Page</a>
    </div>
</div>
<br/><br/>
<form method="POST" id="formForgotPass" autocomplete="off">
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-envelope icon_login_form"></i></span>
			<input style="min-width: 300px;" id="email_forgotPass" required type="text" class="form-control no-border" name="email_forgotPass" placeholder="Email">
		</div>
	</div>
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon"><i class="glyphicon glyphicon-user icon_login_form"></i></span>
			<input style="min-width: 300px;" id="username_forgotPass" required type="text" class="form-control" name="username_forgotPass" placeholder="UserName">
		</div>
	</div>
	<button type="submit" name="forgot_password" class="btn btn-primary btn-block" style="min-width: 340px;">Login</button><br>
</form>